@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E9BC5A;
  --accent: #B9DAEE;
  --accent-secondary: #b6b6b6;
  --background: #fff;
  --foreground: #161616;
  --background-secondary: #000;
  --foreground-secondary: #fff;
  --border: #9a9a9a80;
  --font-primary: var(--font-geologica), var(--font-space-grotesk), var(--font-inter), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: var(--foreground);
  background: var(--background-secondary);
  font-family: var(--font-geologica), var(--font-space-grotesk), var(--font-inter), sans-serif;
  /* overflow: hidden; */
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family:  var(--font-inter), sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 200;
  line-height: 1;
}
h2 {
  font-size: 56px;
  font-weight: 300;
  line-height: 1;
}
h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
}
h4 {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }  
}
@media (max-width: 480px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 26px;
  }  
}