@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E9BC5A;
  --accent: #B9DAEE;
  --accent-secondary: #b6b6b6;
  --background: #fff;
  --foreground: #161616;
  --background-secondary: #000;
  --foreground-secondary: #fff;
  --font-primary: var(--font-geologica), var(--font-space-grotesk), var(--font-inter), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: var(--foreground);
  background: var(--background-secondary);
  font-family: var(--font-geologica), var(--font-space-grotesk), var(--font-inter), sans-serif;
  /* overflow: hidden; */
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}
