@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e7c374;
  --accent: #B9DAEE;
  --accent-secondary: #b6b6b6;
  --background-accent: #303030;
  --background: #fff;
  --foreground: #161616;
  --foreground-light: #888888;
  --background-secondary: #000;
  --foreground-secondary: #fff;
  --border: #9a9a9a80;
  --font-primary: var(--font-geologica), var(--font-space-grotesk), var(--font-inter), sans-serif;
}

/* Webkit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 0;
  /* border-radius: 100px; */
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

@supports (scrollbar-color: auto) {
  * {
    /* scrollbar-color: var(--primary) black; */
    scrollbar-width: thin;
  }
}

body {
  color: var(--foreground);
  background: var(--background-secondary);
  font-family: var(--font-geologica), var(--font-space-grotesk), var(--font-inter), sans-serif;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.overlay {
  transform: translateY(0);
  animation: slideUpAnimation 1s ease-in-out forwards;
}
@keyframes slideUpAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slideIn {
  animation: slideInAnimation 1s ease-in-out forwards;
}
@keyframes slideInAnimation {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
.slideOut {
  animation: slideOutAnimation 1s ease-in-out forwards;
}
@keyframes slideOutAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

p {
  font-family:  var(--font-inter), sans-serif;
}

h1 {
  font-size: 110px;
  font-weight: 300;
  line-height: 1;
}
h2 {
  font-size: 56px;
  font-weight: 300;
  line-height: 1;
}
h3 {
  font-size: 56px;
  font-weight: 300;
  line-height: 1;
}
h4 {
  font-size: 48px;
  font-weight: 300;
}
h5 {
  font-size: 16px;
  /* font-weight: 300; */
  color: #898989;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 42px;
  }  
}
@media (max-width: 480px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 26px;
  }  
}